[submodule "nn-frontend"]
	path = nn-frontend
	url = git@github.com:hisoakende/nn-frontend.git
[submodule "nn-models"]
	path = nn-models
	url = git@github.com:hisoakende/nn-models.git
[submodule "nn-results"]
	path = nn-results
	url = git@github.com:hisoakende/nn-results.git
